@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

#love-me .fa-heart {
    animation: grow 0.6s linear;
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
}

@keyframes grow {
    to {
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
    }
}